@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.textLogo{
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.listItemContainer{
    display: flex;
    align-items: center;
}

.listItemContainer svg{
    margin-right: 8px;
}

.cookieContainer{
    position: fixed;
    /* height: 50px; */
    width: 100%;
    background: white;
    color: black;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 16px;
    bottom: 0;
    box-shadow: -2px 0 #1e1e1e
}